@font-face {font-family: 'Arimo';font-weight:normal;font-style:normal;src: url("xarawdgeneratedhtmlfont1.woff") format("woff");}
@font-face {font-family: 'Arimo';font-weight:bold;font-style:normal;src: url("xarawdgeneratedhtmlfont2.woff") format("woff");}
@font-face {font-family: 'Arimo';font-weight:bold;font-style:normal;src: url("xarawdgeneratedhtmlfont3.woff") format("woff");}
